<!-- begin:content -->
<div class="row-fluid">
    <div class="span12 content-wrapper">
        <div class="row-fluid content-home">
            <div class="span12">
                <% @trainings.each do |training| %>
                    <div class="row-fluid">
                        <div class="span12 blog-content">
                            <div class="page-header">
                                <h2><%= training.name %></h2>
                            </div>
                            <small class="meta-date">
                                Date: <%= training.t_date %> |
                                Price: <%= training.price %>
                            </small>
                            <p>
                                <%= markdown(training.description).truncate(1200, :omission => "......").html_safe %><br/>
                            </p>
                            <p>
                                <%= link_to 'More...', training, class: 'btn btn-green'%>
                            </p>
                        </div>
                    </div>
                    <hr class="dotted">
                <% end %>
            </div>
        </div>
    </div>
</div>

<!--begin:pagination-->
<div class="row-fluid">
    <div class="span12">
        <div class="pagination pagination-centered">
            <%= will_paginate @trainings, previous_label: '<<', next_label: '>>' %>
        </div>
    </div>
</div>
<!--end:pagination-->