<div class="span9">
    <%= form_for(@article) do |f| %>
        <% if @article.errors.any? %>
            <% @article.errors.full_messages.each do |msg| %>
                <div id="error_explanation" class="alert alert-error fade in span11">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong><%= msg %></strong>
                </div>
            <% end %>
        <% end %>
        <div class="row-fluid">
            <div class="span12 coment">
                <h3>Create New Article</h3>
                    <%= f.text_field :subject, size: 30, placeholder: "Title", class: "span12 required" %>
                    <%= f.text_field :tag_list, placeholder: "Tags (separated by commas)", class: "span12" %>
                    <%= f.file_field :picture, style: "line-height: 0; height: 25px;", id: "sat-picture" %>[Picture]
                    <%= f.text_area :body, placeholder: "Type your content", rows: 25, class: "span12 clearfix required" %>
                    <%= link_to "Markdown Syntax", "http://bywordapp.com/markdown/syntax.html", :target => "_blank" %>,
                    Support for <%= link_to "Emoji Cheat Sheet", "http://www.emoji-cheat-sheet.com/", :target => "_blank"%>
                    <%= f.submit "Post Your Article", class: "btn btn-large btn-block btn-green" %>
                </form>
            </div>
        </div>
    <% end %>
</div>