<!-- begin:home-slider -->
<div class="row-fluid">
    <div class="span12" id="masthead">
        <div id="homeslider" class="carousel slide">
            <ol class="carousel-indicators">
                <li data-target="#homeslider" data-slide-to="0" class="active"></li>
                <li data-target="#homeslider" data-slide-to="1" class=""></li>
            </ol>
            <div class="carousel-inner">
                <div class="item active">
                    <%= image_tag("salesforce14.jpg") %>
                    <div class="container">
                        <div class="carousel-caption">
                            <h2>Salesforce.com</h2>
                            <p class="lead">
                                Add useful features to access a Canvas app from the Chatter Publisher Action. 
                                New features added to SOQL, SOSL, All APIs. Visualforce enhancements focused on improving the experience of developing HTML5 apps. 
                                New classes, methods and interfaces have been added.
                            </p>
                            <p>
                                <a class="btn btn-green" style="float:right" href="http://www.salesforce.com/newfeatures/" target="_blank">New Features &raquo;</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <%= image_tag("rails4.jpg") %>
                    <div class="container">
                        <div class="carousel-caption">
                            <h2>What is Rails?</h2>
                            <p class="lead">
                                Rails is a web application development framework written in the Ruby language. 
                                It is designed to make programming web applications easier by making assumptions about 
                                what every developer needs to get started. It allows you to write less code while accomplishing more than many other languages and frameworks.
                            </p>
                            <p>
                                <a class="btn btn-green" style="float:right" href="http://guides.rubyonrails.org/" target="_blank">Ruby on Rails &raquo;</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <a class="left carousel-control" href="index3.html#homeslider" data-slide="prev">&lsaquo;</a>
            <a class="right carousel-control" href="index3.html#homeslider" data-slide="next">&rsaquo;</a>
        </div>
    </div>
</div>
<!-- end:home-slider -->

<!-- begin:content -->
<div class="row-fluid">
    <div class="span12 content-wrapper">
        <!-- begin:service -->
        <div class="row-fluid content-home" id="featured">
            <ul class="thumbnails">
                <li class="span4">
                    <div class="featured-photos"><i class="icon-cogs"></i></div>
                    <h3>Our Philosophy</h3>
                    <p>
                        Your attitude, not your aptitude, will determine your altitude.
                    </p>
                </li>
                <li class="span4">
                    <div class="featured-photos"><i class="icon-tasks"></i></div>
                    <h3>Our Mission</h3>
                    <p>
                        Build the world's best open source technology sharing platform.
                    </p>
                </li>
                <li class="span4">
                    <div class="featured-photos"><i class="icon-html5"></i></div>
                    <h3>Web Development</h3>
                    <p>Provide the best knowledges for people who badly needed it.</p>
                </li>
            </ul>
        </div>
        <!-- end:service -->

        <hr class="dotted">

        <!-- begin:product -->
        <div class="row-fluid content-home">
            <div class="span12">
                <div class="row-fluid">
                    <div class="span6">
                        <img src="/assets/tree.jpg" alt=""></div>
                    <!-- break -->
                    <div class="span6">
                        <div class="page-header ph-fix">
                            <h2>Features Overview</h2>
                        </div>
                        <p>
                            If we want to build a more flexible web content, markdown is one of the best chioce for you. 
                            Emoji can provide very popular emotions for your content.
                            Cloudinary is a SaaS solution hosted in the Cloud. We can use Cloudinary to manage all your assets and web resources in the cloud. 
                            The integration with Salesforce and Rails is very easy. We can post anything you want to salesforce Chatter from this site.
                            Do less, more funs. 
                        </p>
                        <div class="row-fluid">
                            <div class="span6">
                                <ul class="feature">
                                    <li>Ruby on Rails 4</li>
                                    <li>Integration With Salesforce.com</li>
                                    <li>Markdown and Emoji</li>
                                    <li>Cloudinary & Carrierwave</li>
                                </ul>
                            </div>
                            <div class="span6">
                                <ul class="feature">
                                    <li>Build With Bootstrap</li>
                                    <li>Responsive Design</li>
                                    <li>Clean and Fresh, Flat UI</li>
                                    <li>Easy Customization</li>
                                </ul>
                            </div>
                        </div>
                        <p>
                            <a href="" class="btn btn-green btn-block btn-large btn-child">Have you fallen in love yet? Join us to make a difference.</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- end:product -->

        <hr class="dotted">

        <!-- begin:recent-work -->
        <div class="row-fluid content-home">
            <div class="span12 work">
                <div class="row-fluid">
                    <div class="span3">
                        <div class="page-header ph-fix">
                            <h2>Recent Work</h2>
                        </div>
                        <p>
                            Our work is never really done as long as people continue to use it. 
                            So the continuous and ongoing development will be continued forever. 
                            We also hope to get your continous feedback. So we can release the 
                            latest stable version of the system as early and as often as possible.
                        </p>
                    </div>
                    <!-- break -->
                    <div class="span9">
                        <div class="row-fluid">
                            <ul class="thumbnails">
                                <li class="span4">
                                    <div class="thumbnail">
                                        <div class="thumbnail-body">
                                            <div class="wrapper-image">
                                                <a href="/assets/bootstrap.jpg" class="galeri" title="bootstrap">
                                                    <img src="/assets/bootstrap.jpg" alt="bootstrap" style="height:200px">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="thumbnail-title">
                                            <h2>
                                                <i class="icon-css3"></i>
                                                <a href="http://getbootstrap.com/" target="_blank">Bootstrap</a>
                                            </h2>
                                        </div>
                                    </div>
                                </li>
                                <!-- break -->
                                <li class="span4">
                                    <div class="thumbnail">
                                        <div class="thumbnail-body">
                                            <div class="wrapper-image">
                                                <a href="/assets/metroui.jpg" class="galeri" title="Metro UI">
                                                    <img src="/assets/metroui.jpg" alt="Metro UI" style="height:200px">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="thumbnail-title">
                                            <h2>
                                                <i class="icon-windows"></i>
                                                <a href="http://metroui.org.ua/" target="_blank">Metro UI</a>
                                            </h2>
                                        </div>
                                    </div>
                                </li>
                                <!-- break -->
                                <li class="span4">
                                    <div class="thumbnail">
                                        <div class="thumbnail-body">
                                            <div class="wrapper-image">
                                                <a href="/assets/flatui.png" class="galeri" title="Flat UI">
                                                    <img src="/assets/flatui.png" alt="flat ui" style="height:200px">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="thumbnail-title">
                                            <h2>
                                                <i class="icon-camera-retro"></i>
                                                <a href="http://designmodo.github.io/Flat-UI/" target="_blank">Flat UI</a>
                                            </h2>
                                        </div>
                                    </div>
                                </li>
                                <!-- break --> 
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end:recent-work -->

        <hr class="dotted">

        <!-- begin:recent-blog -->
        <div class="row-fluid content-home">
            <div class="span12 blog">
                <div class="row-fluid">
                    <div class="span3">
                        <div class="page-header ph-fix">
                            <h2>Recent Blog</h2>
                        </div>
                        <p>
                            Travel is the movement of people between relatively distant geographical locations, 
                            and can involve travel by foot, bicycle, automobile, train, boat, airplane, or other means, 
                            with or without luggage, and can be one way or round trip. Travel can also include relatively short stays 
                            between successive movements. Reasons for traveling include recreation, tourism or vacationing, 
                            research travel for the gathering of information, for holiday to visit people, 
                            migration to begin life somewhere else, religious pilgrimages and mission trips, business travel, and other reasons.
                        </p>
                    </div>
                    <!-- break -->
                    <div class="span9">
                        <div class="row-fluid">
                            <ul class="thumbnails">
                                <li class="span6">
                                    <div class="thumbnail">
                                        <div class="thumbnail-body">
                                            <div class="wrapper-image">
                                                <a href="/assets/travel2.jpg" class="galeri" title="The night market in Luang Prabang">
                                                    <img src="/assets/travel2.jpg" alt="">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="thumbnail-title">
                                            <h2>
                                                <i class="icon-picture"></i>
                                                <a href="#">Luang Prabang</a>
                                            </h2>
                                            <p>
                                                In and around Luang Prabang, increased tourism is posing a real risk to the traditional textiles that have been 
                                                sought after since the Tang dynasty. But while increasing visitor numbers are good for tourism in general, 
                                                the increased demand is jeopardising Laos’ famous artisanal communities.
                                            </p>
                                        </div>
                                    </div>
                                </li>
                                <!-- break -->
                                <li class="span6">
                                    <div class="thumbnail">
                                        <div class="thumbnail-body">
                                            <div class="wrapper-image">
                                                <a href="/assets/travel1.jpg" class="galeri" title="Sargeant Bay">
                                                    <img src="/assets/travel1.jpg" alt="">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="thumbnail-title">
                                            <h2>
                                                <i class="icon-film"></i>
                                                <a href="#">Sargeant Bay</a>
                                            </h2>
                                            <p>
                                                Accessible only by boat or seaplane, the British Columbia paradise is where old growth forests collide with sandy beaches 
                                                and razor-tipped mountains meet the wild Pacific waters. Start your journey at VHB, where the BC Ferry transports both cars 
                                                and people to the town of Langdale.
                                            </p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- end:recent-blog -->

        <hr class="dotted">
    </div>
</div>
<!-- end:content -->

<!-- begin:testimonial -->
<div class="row-fluid">
    <div class="span12" id="testimonial">
        <p class="testimoni-icon"><i class="icon-quote-left"></i></p>
        <h3>Testimonials</h3>
        <div id="testi" class="carousel slide">
            <div class="carousel-inner">
                <div class="item">
                    <p class="testimoni-item">
                        I will not say that I am the best in the world, but I will never admit that I was the second.
                    </p>
                    <h4>
                        <span>Bruce Yue</span>, Meginfo
                    </h4>
                </div>
                <div class="item">
                    <p class="testimoni-item">
                        Don't let that bug-inducing devil win. Fight him with your own guardian angel to guide, promote, and protect your work and career.
                    </p>
                    <h4>
                        <span>Andy Hunt</span>, Pragmatic Bookshelf
                    </h4>
                </div>
                <div class="item active">
                    <p class="testimoni-item">
                        Even if you are on the right track, you will get run over if you just sit there.
                    </p>
                    <h4>
                        <span>Will Rogers</span>, American Cowboy
                    </h4>
                </div>
                <div class="item">
                    <p class="testimoni-item">
                        Propio del hombre es hacer planes pero la ultima palabra es de Dios
                    </p>
                    <h4>
                        <span>Teresa Wang</span>, Spanish Girl
                    </h4>
                </div>
            </div>
            <a class="left carousel-control" href="#testi" data-slide="prev">&lsaquo;</a>
            <a class="right carousel-control" href="#testi" data-slide="next">&rsaquo;</a>
        </div>
    </div>
</div>
<!-- end:testimonial -->

<!-- begin:client -->
<div class="row-fluid">
    <div class="span12 content-wrapper">
        <hr class="dotted">
        <div class="row-fluid content-home" id="client">
            <div class="span12">
                <div class="row-fluid">
                    <ul class="thumbnails">
                        <li class="span2">
                            <div class="thumbnail">
                                <%= image_tag("salesforce.png", style: "height:100px") %>
                            </div>
                        </li>
                        <!-- break -->
                        <li class="span2">
                            <div class="thumbnail">
                                <%= image_tag("meginfo.png", style: "height:100px") %>
                            </div>
                        </li>
                        <li class="span2">
                            <div class="thumbnail">
                                <%= image_tag("EF.jpg", style: "height:100px") %></div>
                        </li>
                        <!-- break -->
                        <li class="span2">
                            <div class="thumbnail">
                                <%= image_tag("cm.gif", style: "height:100px") %>
                            </div>
                        </li>
                        <li class="span2">
                            <div class="thumbnail">
                                <%= image_tag("imprivata.jpg", style: "height:100px") %>
                            </div>
                        </li>
                        <li class="span2">
                            <div class="thumbnail">
                                <%= image_tag("whs.jpg", style: "height:100px") %>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <hr class="dotted">
    </div>
</div>
<!-- end:client -->