<!-- begin:content -->
<div class="row-fluid">
    <div class="span12 content-wrapper">
        <div class="row-fluid content-home">
            <div class="span12">
                <% @books.each do |book| %>
                    <div class="row-fluid">
                        <div class="span12 blog-content">
                            <div class="page-header">
                                <h2><%= book.name %></h2>
                            </div>
                            <small class="meta-date">
                                Contributor: <a href=""><%= book.contributor %></a> |
                                Publication Date: <%= book.publication_date %>
                            </small>
                            <p>
                                <%= markdown(book.content).truncate(1800, :omission => "......").html_safe %><br/>
                            </p>
                            <p>
                                <%= link_to 'Read More...', book, class: 'btn btn-green'%>
                            </p>
                        </div>
                    </div>
                    <hr class="dotted">
                <% end %>
            </div>
        </div>
    </div>
</div>

<!--begin:pagination-->
<div class="row-fluid">
    <div class="span12">
        <div class="pagination pagination-centered">
            <%= will_paginate @books, previous_label: '<<', next_label: '>>' %>
        </div>
    </div>
</div>
<!--end:pagination-->