<div class="span12">
    <%= form_for(@sfjob) do |f| %>
        <% if @sfjob.errors.any? %>
            <% @sfjob.errors.full_messages.each do |msg| %>
                <div id="error_explanation" class="alert alert-error fade in span11">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong><%= msg %></strong>
                </div>
            <% end %>
        <% end %>
        <div class="row-fluid">
            <div class="span12 coment">
                <h3>Create New Job</h3>
                    <%= f.text_field :name, size: 30, placeholder: "Job Title", class: "span12 required" %>
                    <%= f.text_field :company, placeholder: "Company", class: "span12" %>
                    <%= f.text_field :price, placeholder: "Price", class: "span12" %>
                    <%= f.text_field :published_date, placeholder: "Publication Date", class: "span2 required", type: 'date' %>
                    <%= f.text_area :description, placeholder: "Job Description", rows: 25, class: "span12 clearfix required" %>
                    <%= f.submit "Post Job", class: "btn btn-large btn-block btn-green" %>
                </form>
            </div>
        </div>
    <% end %>
</div>
