<!-- begin:content -->
<div class="row-fluid">
    <div class="span12 content-wrapper">
        <div class="row-fluid content-home">
            <div class="span12">
                <% @sfjobs.each do |job| %>
                    <div class="row-fluid">
                        <div class="span12 blog-content">
                            <div class="page-header">
                                <h2><%= job.name %></h2>
                            </div>
                            <small class="meta-date">
                                Company: <%= job.company %> |
                                Publication Date: <%= job.published_date %> |
                                Price: <%= job.price %>
                            </small>
                            <p>
                                <%= markdown(job.description).truncate(800, :omission => "......").html_safe %><br/>
                            </p>
                            <p>
                                <%= link_to 'More...', job, class: 'btn btn-green'%>
                            </p>
                        </div>
                    </div>
                    <hr class="dotted">
                <% end %>
            </div>
        </div>
    </div>
</div>

<!--begin:pagination-->
<div class="row-fluid">
    <div class="span12">
        <div class="pagination pagination-centered">
            <%= will_paginate @sfjobs, previous_label: '<<', next_label: '>>' %>
        </div>
    </div>
</div>
<!--end:pagination-->

