<div class="row-fluid">
    <div class="span12 content-wrapper">
        <!-- begin:elements -->
        <div class="row-fluid content-home">
            <div class="row-fluid">
                <div class="span12 blog-content">
                    <div class="page-header">
                        <h2><%= @sfjob.name %></h2>
                    </div>
                    <small class="meta-date">
                        Company: <%= @sfjob.company %> |
                        Publication Date: <%= @sfjob.published_date %> |
                        Price: <%= @sfjob.price %></small>
                    <p>
                        <%= markdown @sfjob.description %>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>